<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.birthday.greeting.dao.UserInfoMapper">
    <sql id="columns">
        id, first_name, last_name, gender, birthday, email
    </sql>
    <select id="findByBirthday" resultType="com.birthday.greeting.po.UserInfo">
        SELECT
            <include refid="columns"/>
        FROM
            user_info
        WHERE
            birthday &lt; now() - CAST(#{age_interval} AS INTERVAL)
    </select>
</mapper>